

.expanded-button-element-container{
    width: 60vw;
    height: 8vh;
    background-color: rgb(34, 34, 34);
    border-width: 1px 0px;
    border-color: rgb(88, 88, 88);
    border-style: solid;
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 300px) {
    .expanded-button-element-container{
      width: 80vw;
    }
  }